body{
	margin: 0;
	padding: 0;
}
.container{
	margin-top: 20px;
}
.mainb{
	border: 2px solid green;
	border-radius: 6px;
}
.main{
	width: 180px;
	float: left;
}
.h{
	width: 60px;
	height: auto;
	float: left;
	text-align: center;
	margin-left: 20px;
	background-color: black;
	border-radius: 10px;
	border: 2px solid gold;
	color: gold;
}


